@if (room()) {
<div class="mini-player h-100 shadow position-relative" #dragRoot>
    <!-- Header with controls -->
    <div class="mini-header">
        <span class="meeting-title">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#6264a7"
                class="me-2">
                <path
                    d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160H160Z" />
            </svg>
            Meeting
        </span>
        <div class="mini-controls">
            @if ((permissions$ | async)?.microphone == 'granted') {
            <a href="javascript:void(0)" (click)="toggleMic()"
                [ngbTooltip]="meetingService.isMicOn() ? 'Mute' : 'Unmute'" placement="bottom">
                @if (meetingService.isMicOn()) {
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
                    fill="#FFFFFF">
                    <path
                        d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-240Zm-40 520v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Zm40-360q17 0 28.5-11.5T520-520v-240q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240q0 17 11.5 28.5T480-480Z" />
                </svg>
                } @else {
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
                    fill="#c4314b">
                    <path
                        d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z" />
                </svg>
                }
            </a>
            }

            @if ((permissions$ | async)?.camera == 'granted') {
            <a href="javascript:void(0)" (click)="toggleCamera()"
                [ngbTooltip]="meetingService.isCameraOn() ? 'Turn off camera' : 'Turn on camera'" placement="bottom">
                @if(meetingService.isCameraOn()) {
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
                    fill="#FFFFFF">
                    <path
                        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160H160Zm0-80h480v-480H160v480Zm0 0v-480 480Z" />
                </svg>
                } @else {
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
                    fill="#c4314b">
                    <path
                        d="M880-260 720-420v67l-80-80v-287H353l-80-80h367q33 0 56.5 23.5T720-720v180l160-160v440ZM822-26 26-822l56-56L878-82l-56 56ZM498-575ZM382-464ZM160-800l80 80h-80v480h480v-80l80 80q0 33-23.5 56.5T640-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Z" />
                </svg>
                }
            </a>
            }

            <a href="javascript:void(0)" (click)="expand()" ngbTooltip="Expand" placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
                    fill="#FFFFFF">
                    <path
                        d="M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z" />
                </svg>
            </a>

            <button class="btn btn-sm btn-danger" (click)="leave()" ngbTooltip="Leave" placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px"
                    fill="#FFFFFF">
                    <path
                        d="m136-304-92-90q-12-12-12-28t12-28q88-95 203-142.5T480-640q118 0 232.5 47.5T916-450q12 12 12 28t-12 28l-92 90q-11 11-25.5 12t-26.5-8l-116-88q-8-6-12-14t-4-18v-114q-38-12-78-19t-82-7q-42 0-82 7t-78 19v114q0 10-4 18t-12 14l-116 88q-12 9-26.5 8T136-304Z" />
                </svg>
            </button>
        </div>
    </div>

    <!-- Video Preview -->
    <div class="mini-video-container">
        @if (meetingService.isMinimized() && meetingService.inMeeting()) {
        @if (meetingService.localTrack() && meetingService.isCameraOn()) {
        <video-component [track]="meetingService.localTrack()!" [participantIdentity]="userName"
            [isMute]="!meetingService.isMicOn()"></video-component>
        } @else {
        <div class="mini-avatar-container">
            <div class="mini-avatar" [ngStyle]="{'background-color': getColorFromName()}">
                {{getUserInitiaLetter()}}
            </div>
            <span class="mini-username">{{userName}}</span>
        </div>
        }

        <!-- Mute indicator -->
        @if (!meetingService.isMicOn()) {
        <div class="mini-status">
            <div class="status-icon muted">
                <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960" width="14px"
                    fill="#FFFFFF">
                    <path
                        d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z" />
                </svg>
            </div>
        </div>
        }
        }
    </div>

    <!-- Expand hint on hover -->
    <div class="expand-hint">
        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960" width="14px" fill="#FFFFFF"
            class="me-1">
            <path
                d="M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z" />
        </svg>
        Click to expand
    </div>

    <!-- Hidden audio components for remote participants -->
    @for (remoteTrack of meetingService.remoteTracksMap().values(); track remoteTrack.trackPublication.trackSid) {
    @if (remoteTrack.trackPublication.kind === 'audio') {
    <audio-component [track]="remoteTrack.trackPublication.audioTrack!" hidden></audio-component>
    }
    }
</div>
}